<div class="anime-list">
    <h1 class="title" ng-bind="title"></h1>

    <h3 class="title" ng-if="list.length == 0">You have no animes in this list yet...</h3>

    <div class="row-fluid">
        <div class="col-sm-6 col-md-4" ng-repeat="item in list">
            <div class="thumbnail">
                <img ng-src="{{item.picture}}" class="pull-left">
                <div class="caption">
                    <h4 style=""><a href="/anime/{{item.id}}/{{item.name.replace('/',' ').split(' ').join('_')}}">{{item.name}}</a></h4>
                    <p>
                        OVA
                    </p>
                    <p ng-if="item.rating">
                        <rating ng-model="item.rating" readonly="true"></rating>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>