<div class="anime-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img ng-src="{{anime.picture}}" />
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="col-md-12" ng-bind="anime.name"></h1>

            <p class="col-md-12">
                <span class="label label-default">Shounen</span>
                <span class="label label-info">Magic</span>
                <span class="label label-danger">Action</span>
                <span class="label label-primary">Fantasy</span>
                <span class="label label-warning">Comedy</span>
                <span class="label label-success">Adventure</span>
            </p>

            <p class="col-md-12 text-justify" ng-bind="anime.description"></p>

            <div ng-if="!currentUser" class="alert alert-info col-md-12" role="alert">
                <span>To add animes to your list you need to <a href="/register" class="alert-link">join us</a> or <a href="/login" class="alert-link">login</a></span>
            </div>

            <form role="form" class="form-horizontal" ng-if="currentUser">
                <div class="col-md-6">
                    <select id="state" class="form-control input-lg" ng-model="anime.status" ng-change="save()">
                        <option value="0">Not Watched Yet</option>
                        <option value="1">Current Watching</option>
                        <option value="2">Completed</option>
                        <option value="3">Plan to Watch</option>
                        <option value="4">Droped</option>
                    </select>
                </div>
            </form>

        </div>
    </div>
</div>