<div class="user-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img class="img-circle" ng-src="{{user.picture}}" />
                <h1 class="col-md-12" ng-bind="user.username"></h1>
                
            </div>
        </div>
        <div class="col-md-6">
            <h3>compatibility</h3>
            <progressbar class="progress-striped active" animate="true" value="user.compatibility" max="100" type="info"><span ng-bind="user.compatibility + '%'"></span></progressbar>
        </div>
    </div>
</div>