<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://animesclub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>animesclub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>animesclub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$animesclub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:rq9vlpfuon.database.windows.net,1433;Initial Catalog=animesclub_db;Persist Security Info=True;User ID=animesclub@rq9vlpfuon;Password=21@tErE*01" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Animes.Club.Models.AnimesClubContext, Animes.Club" MigrationConfiguration="Animes.Club.Migrations.Configuration, Animes.Club" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rq9vlpfuon.database.windows.net,1433;Initial Catalog=animesclub_db;Persist Security Info=True;User ID=animesclub@rq9vlpfuon;Password=21@tErE*01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>